@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;400&family=Ubuntu:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* basic typographic stying */
h1, h2, h3 {
    font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
    color:#001A34;
}

h1{
    font-size: 3rem;
}

p, .labelTag{
    font-family: Roboto, Open Sans, Arial, Helvetica, sans-serif;
    color:#001A34;
}
/* header styling */
header{
    background-image: linear-gradient(#498acb, #B8EDA6);
    padding-top:2rem;
}

.logoBox{
    margin-left: 10%;
    margin-top: 10%;
    padding-bottom:0;
}
/* "my list" sidebar styling */
#sidebar {
    display: none;
    position: absolute;
    width: 300px;
    height: 100%;
    background-image: linear-gradient(to right,#B8EDA6,#498acb);
    right: -300px;
    transition: .5s;
}
#sidebar li:hover{
    opacity:100%;
}
  
#sidebar.active{
    display:flex;
    right: 0;
    box-shadow: 5px 5px 20px rgb(146, 146, 146);
    transition: .5s;
}

#sidebar ul li{
    list-style: none;
    color: white;
    opacity:50%;
    font-size: 30px;
    padding: 10px 75px;
  }
  
#sidebar li.close{
    font-family: Roboto, sans-serif;
    font-style:bold;
    font-size: 50px;
    opacity:75%;
    text-align:left;
    padding:20px;
}
#sidebar li.close:hover{
    opacity:100%;
  }
  
.toggleButton{
    position: absolute;
    top: 15rem;
    right: 100px;
    max-height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.toggleButton img{
    max-width: 40px;
    margin-top: 4px;
}
  
.toggleButton img .active{
    display:none;
  }
.listLabel{
    font-size:12px;
    margin-top: 2px;
    text-align: center;
}
.toggleButton span:hover{
    opacity:100%;
  }
/* main body styling */
.container{
    min-height: 100vh;
}
button {
    background-color: #498acb;
    padding: .5rem;
    color:white;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    border: 0;
}

button:hover{
    background-color: #001A34;
    opacity:75%;
}

.labelTag{
    padding-bottom: 2rem;
}

.textInput {
    background-color:white;
    padding: .5rem;
    color:#001A34;
    border-radius: 5px;
    border: .5px solid #81dae8;
}


.searchContainer, .dietContainer{
    background-color: #B8EDA6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:2rem;
}



.animal-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-right:1.5rem;
    padding-left:1.5rem;
    border: 2px solid #81dae8;
    border-radius: 5px;
    margin-top:10px;
    margin-bottom: 10px;
}

.card-header{
    text-align: center;
}
.searchResultTop{
    display: flex;
    flex-direction: column;
}
.habitatContainer{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:2rem;
}

.compareAnimals{
    text-align: center;
}
.compareResults{
    display: flex;
    flex-direction: column;
}

.compare{
    display: flex;
    justify-content: center;
    padding:1rem;
}
.myListCompare{
    background-color: aliceblue;
    min-width: 350px;
    border-radius: 10px;
}
/* footer styling */
footer{
    background-image: linear-gradient(#B8EDA6,#498acb);
    text-align: center;
    color:#001A34;
    min-height: 10rem;;
}
footer a{
    color:aliceblue;
}
.copyright{
padding-top: 8rem;
}
/* Large screen */
@media only screen and (min-width: 768px) {

    .toggleButton{
        position: absolute;
        top: 40%;
        right: 100px;
        max-width: 35px;
        padding: 0;
        text-align: center;
    }

    .listLabel{
        font-size:16px;
        margin-top: 2px;
    }

    .searchResultTop{
        display: flex;
        flex-direction: row;
    }
    .searchContainer, .habitatContainer,.dietContainer{
        padding-top:2rem;
    }

    .dietContainer {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .compareResults{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: none;
    }


}